html{
    background-color:gray;
    font-size:2vw;
}
h1{font-size:300%;
}

p{
     background-color:rgba(245, 160, 30, 1);

    font-family:courier;
}

.yz{
    text-align: center;
}
.yaz{
  max-width: 100%;
}
.yo{
  max-width: 100%;

}
.yy{
   color: white;
   font-family: courier;
}
ul { display: inline-block; text-align: left; 
}
ol{
    display: inline-block; text-align: left;
